body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.barra-de-cima {
    height: 100px;
    width: auto;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(43, 43, 43);
}

.parallax {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#secao1 {
    background-image: url('background1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-secao1 {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    display: flex;
}

.caixa-secao1 h1 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 40px;
    color: whitesmoke;
}

.caixa-secao1 p {
    width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: whitesmoke;
}

#secao2 {
    background-image: url('background2.jpg') ;
    display: flex;
    justify-content: right;
    align-items: center;
}


.titulo-caixa1 {
    display: flex;
    justify-content: center;
}

.caixa-secao2 {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    color: whitesmoke;
    margin-left: 50px;
    margin-right: 180px;
}

.caixa-secao2 h1 {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 40px;
}

.caixa-secao2 li {
    margin-left: 20px;
    font-size: 25px;
  }

.titulo-caixa2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 50px;
    color: whitesmoke;
    margin-right: 150px;
}

.caixa-teste {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    height: 700px;
    width: 1000px;
}

#secao3 {
    background-image: url('background3.jpg');
    display: flex;
    align-items: center;
    justify-content: right;
}

.titulo-caixa3 {
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    /* justify-content: right; */
    margin-right: 290px;
}

.caixa-secao3 {
    color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50px;
    border: 1px solid black;
    height: 600px;
    width: 600px;
    margin-right: 100px;
}

.caixa-secao3 h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

.caixa-secao3 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 18px;
    width: 400px;
}
